* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_4 {
  width: 100%;
  height: 1024px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_5 {
  width: 100%;
  height: 100%;
  background-color: #112432;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_6 {
  width: 100%;
  height: 912px;
  background-color: #070f14;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 159px;
  overflow: hidden;
}
.v1_7 {
  width: 481px;
  height: 100%;
  background: rgba(35, 33, 33, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  right: 

  * {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}
.v1_17 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: -1;
}
.v1_18 {
  width: 100%;
  height: 100%;
  background-color: #112432;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: -1;
}
.v1_19 {
  width: 100%;
  height: 912px;
  background-color: #070f14;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 159px;
  overflow: hidden;
  z-index: -1;
}
.v1_20 {
  width: 101px;
  height: 100%;
  background-color: #D3E2E7;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 889px;
  overflow: hidden;
}
.v1_24 {
  width: 101px;
  height: 100%;
  background-color: #04242c;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1268px;
  overflow: hidden;
}
.v1_25 {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 61px;
  left: 211px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_26 {
  width: 284px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 61px;
  left: 867px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_27 {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 61px;
  left: 1180px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_28 {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 61px;
  left: 729px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_29 {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 61px;
  left: 363px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_30 {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 61px;
  left: 544px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_31 {
  width: 237px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 220px;
  left: 159px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v1_32 {
  width: 730px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 294px;
  left: 135px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_33 {
  width: 730px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 836px;
  left: 137px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_34 {
  width: 237px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 734px;
  left: 159px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v1_23 {
  width: 96px;
  height: 100%;
  background-color: #536b73 ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1172px;
  overflow: hidden;
  z-index: -1;
}
.v1_22 {
  width: 101px;
  height: 100%;
   background-color:#7499A4;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1072px;
  overflow: hidden;
  z-index: -1;

}
.v1_21 {
  width: 91px;
  height: 100%;
   background-color: #b6ced6;;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 981px;
  overflow: hidden;
  z-index: -1;
}